@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

body {
  background: #e5e5e5;
}

.navbar {
  height: 8vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  background-color: #fff;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  animation: rotation;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.navbar-items {
  display: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 25px;
  position: absolute;
  right: 30px;
  z-index: 10;
}

.close {
  display: none;
  z-index: 50;
  position: fixed;
  top: 50px;
  right: 40px;
  font-size: 30px;
  color: black;
}

.menu-vector {
  width: 30px;
  height: 3px;
  background-color: #6070ff;
  display: block;
}

.menu-items {
  opacity: 0.98;
  list-style-type: none;
  position: fixed;
  background-color: #6070ff;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 100px 50px;
  z-index: 10;
}

.menu-items li {
  padding: 20px 15px;
}

.menu-items li a {
  text-decoration: none;
  color: #fff;
  z-index: 500 !important;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.hamburg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburg:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 84vh;
  background-image: url(./image/mobile-background.svg);
  padding: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 85px;
  background-color: #fff;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 65%;
  margin: 25px 0;
  padding: 0 15px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 75%;
  animation-duration: 3s;
  animation-name: moving;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #344563;
  padding: 15px 0 0 0;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 10px 0;
}

.social-icon {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 50%;
}

.workcards {
  display: grid;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 12px;
  width: 312px;
  height: 85%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 65px;
}

.works-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3px;
}

.comp-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: 50px;
  font-size: 32px;
  line-height: 30px;
  color: #172b4d;
}

.work-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.client {
  color: #344563;
}

.dim {
  color: #7a869a;
}

.project-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 10px 10px 10px 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.tag {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 20px;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 24px;
  padding: 6px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  cursor: pointer;
}

.btn:hover {
  background-color: #396df2;
  color: white;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  margin-top: 100px;
  background-color: #fff;
  border-top-right-radius: 73px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 15px;
  color: #344563;
  padding-bottom: 10px;
}

.about-sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.supporting-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  color: #7f8cff;
}

.about-smedia-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 12px;
  gap: 10px;
  margin: 15px 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.btn2:hover {
  color: white;
  background-color: #adc4fd;
}

.experties {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  width: 100%;
  padding: 0;
}

.skill-list {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 12px;
  width: 95%;
  height: 260px;
}

.lang {
  background: #f7f7f9;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.form-sec {
  height: 90vh;
  background-color: #fff;
}

.bg {
  border-top-left-radius: 85px;
  background-color: #6070ff;
  display: flex;
  justify-content: center;
  background-image: url(./image/contactshapes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.form {
  color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
  margin-left: 2px;
  border-top-left-radius: 85px;
  background-color: #6070ff;
}

.form-title {
  width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  gap: 15px;
  margin-top: 60px;
}

.form-title h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
}

.form-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.mainForm {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
  width: 96%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

#msg {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: black;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  width: 96%;
  height: 35%;
  padding: 10px 0 10px 10px;
}

#msg::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.form-btn {
  width: 50%;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  padding: 10px 15px;
}

label {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }

  .deskNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    width: 40%;
  }

  .deskNav-menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .deskNav-menu-items a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    cursor: pointer;
  }

  .navbar {
    height: 4vh;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
  }

  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar-items li a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-items li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
  }

  .hamburg {
    display: none;
  }

  .header {
    background-image: url(./image/Desktop-Images/desktopbg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-bottom-left-radius: 65px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 40%;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    width: 100%;
  }

  .icon {
    width: 100%;
  }

  .social-icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .workcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60vh;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    gap: 30px;
  }

  .card:hover {
    cursor: pointer;
    border: 1px solid blue;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .portfolio-img {
    width: 46%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
  }

  .portfolio-img img {
    display: none;
  }

  .pic1 {
    background-image: url(./image/card1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pic2 {
    background-image: url(./image/card2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pic3 {
    background-image: url(./image/card3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pic4 {
    background-image: url(./image/card4.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .works-details {
    padding-left: 3px;
    width: 45%;
    height: 100%;
  }

  .work-title {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
  }

  .comp-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .client {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .dim {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .project-desc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 10px 10px 10px 0;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tag:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.5s;
  }

  .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .btn2:hover {
    cursor: pointer;
    background-color: #396df2;
    color: white;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-right-radius: 100px;
    gap: 15px;
  }

  .top {
    width: 32%;
  }

  .experties {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .lang-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 12px;
  }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .about-smedia-icons {
    cursor: pointer;
  }

  .lang:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: all 0.5s;
  }

  .languages:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s;
  }

  .bg {
    background-image: url(./image/Desktop-Images/desktopContactbg.svg);
    border-top-left-radius: 85px;
    background-position: bottom;
    background-size: contain;
  }

  .form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 39%;
    height: 90%;
    margin-top: 20px;
  }

  .mainForm {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    padding: 17px 0 17px 10px;
    width: 96%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }

  #msg {
    border-radius: 0;
    width: 96%;
    height: 32%;
  }

  .form-btn {
    width: 42%;
    padding: 12px 0;
  }
}

@keyframes slidein {
  from {
    width: 0%;
    height: 0%;
  }

  to {
    width: 40%;
    height: 90%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(90deg);
  }

  75% {
    transform: rotate(135deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes moving {
  from {
    margin-left: 100%;
    width: 400%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.projectPopup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f7f7f9;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project1 {
  background-color: #fff;
  height: 97%;
  width: 92%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupTop {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titlePopup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projectImage {
  display: flex;
  justify-content: center;
  height: 50px;
  object-fit: cover;

}

.popupClose {
  width: 30px;
  height: 52px;
  cursor: pointer;
}

.popupClose:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}