@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* outline: 1px solid red; */
}

body {
  /* height: 100vh;
  width: 100%; */
  background-color: #e5e5e5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  padding-top: 20px;
  background-color: #fff;
}

.mobile-menu {
  width: 18px;
  height: 12px;
  margin-right: 36px;
  cursor: pointer;
}

.mobile-menu:hover {
  transform: scale(1.2);
  transition: all 0.6s;
}

.mylogo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 24px;
  color: #6070ff;
  animation: rotation;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-delay: 2s;
}

a {
  text-decoration: none;
}

.desktop-menu {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  background-image: url(./image/mobile-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-bottom-left-radius: 85px;
  height: 90vh;
  width: 100%;
}

.bio {
  display: flex;
  flex-direction: column;
}

.title {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  align-items: center;
  margin-left: 24px;
  margin-top: 20px;
  width: 70%;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  width: 70%;
  padding: 0 40px 10px 0;
}

.connect {
  display: inline-block;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
}

.social {
  width: 80%;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  list-style-type: none;
  margin-left: 38px;
  height: 40px;
}

.social-icon li {
  flex: 1;
  margin-left: -12px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.cards {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 12px;
  height: 90%;
  background: #ffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 65px;
}

.work {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.project-details {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 15px 0;
  width: 40%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.client {
  color: #344563;
}

.role {
  color: #7a869a;
}

.year {
  color: #7a869a;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 10px 10px 10px 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.tag {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;
}

.button-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  margin: 15px 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  color: #396df2;
  cursor: pointer;
}

.button-project:hover {
  background-color: #adc4fd;
  color: white;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  margin-top: 100px;
  background-color: #ffff;
  border-top-right-radius: 95px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 15px;
  color: #344563;
  padding-bottom: 10px;
}

.about-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.social-links {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  color: #7f8cff;
}

.social-icons,
.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.button-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 12px;
  gap: 10px;
  margin: 15px 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.button-resume:hover {
  color: white;
  background-color: #adc4fd;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  width: 100%;
  padding: 0;
}

.skill-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 72px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.language-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 12px;
  width: 95%;
  height: 260px;
}

.language-icon {
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #253858;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: #f7f7f9;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.contact {
  background-image: url(./image/contactshapes.svg);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 99%;
  margin-left: 2px;
  border-top-left-radius: 85px;
  background-color: #6070ff;
}

.form-title {
  height: 779px;
  width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title h2 {
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-top: 103px;
  color: #fff;
  margin-left: 20px;
  height: 56px;
  margin-bottom: 6px;
}

.form-title p {
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  line-height: 28px;
  color: #ebebff;
  height: 102px;
  margin-left: 24px;
  margin-top: 6px;
  margin-bottom: 87px;
  text-align: center;
  padding-right: 5px;
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form-title input {
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 90%;
  height: 48px;
  border-radius: 8px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 38px;
  border: 1px solid #cfd8dc;
}

.form-title textarea {
  font-family: "Poppins", sans-serif;
  width: 90%;
  height: 170px;
  border-radius: 8px;
  margin-bottom: 12px;
  margin-top: 9px;
  margin-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 38px;
}

.form-title button {
  font-family: "Poppins", sans-serif;
  height: 48px;
  width: 142px;
  padding: 12px, 16px, 12px, 16px;
  border-radius: 8px;
  margin-left: 24px;
  background-color: #fff;
  color: #6070ff;
  border: 1px solid #cfd8dc;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

textarea:focus,
input:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
  }

  .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .menu-item a {
    font-family: "Poppins", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    margin-right: 16px;
    margin-left: 16px;
    padding: 10px;
  }

  .home {
    background-image: url(./image/Desktop-Images/desktopbg.svg);
    justify-content: first baseline;
    background-size: contain;
    background-position: top;
    width: 100%;
  }

  .title {
    font-style: bold;
    font-size: 48px;
    width: 90%;
    line-height: 80px;
  }

  .text {
    font-size: 20px;
    line-height: 28px;
    margin-top: 16px;
    padding-top: 15px;
    width: 90%;
  }

  .connect {
    margin-top: 12px;
  }

  .card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px 100px;
    height: 60vh;
  }

  .card-image {
    animation-name: slidein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.5s;
  }

  .about-myself {
    flex-direction: row;
    justify-content: center;
    border-top-right-radius: 95px;
    height: 916px;
    width: 100%;
  }

  .about {
    width: 100%;
    margin-left: 140px;
    margin-right: 37px;
    margin-top: 122px;
  }

  .about-title {
    font-style: bold;
    color: #091e42;
  }

  .about-text {
    padding-top: 15px;
    padding-bottom: 10px;
    width: 447px;
  }

  .skills {
    width: 60%;
    height: 360px;
    margin-top: 146px;
    margin-right: 160px;
  }

  .language-icons {
    flex-direction: row;
    width: 50%;
    height: 114px;
    gap: 12px;
    margin-right: 260px;
  }

  .language-icon {
    flex-direction: column;
    align-items: flex-start;
  }

  .body-sec {
    width: 99.5%;
  }

  .contact {
    background-image: url(./image/Desktop-Images/desktopContactbg.svg);
    background-position: center;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
  }

  .form-title {
    margin-top: 142px;
  }

  .form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
  }

  .form-title p {
    width: 569px;
    margin-bottom: 6px;
  }

  .form-title input {
    width: 447px;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 2px;
  }

  .form-title textarea {
    width: 447px;
    border-radius: 2px;
  }

  @keyframes slidein {
    from {
      width: 0%;
      height: 0%;
    }

    to {
      width: 40%;
      height: 90%;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(45deg);
    }

    50% {
      transform: rotate(90deg);
    }
  }
}
