@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  padding: 10px;
}

.menu img {
  margin-right: 36px;
  cursor: pointer;
}

.menu:hover {
  transform: scale(1.2);
  transition: all 0.6s;
}

.mylogo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 24px;
  color: #6070ff;
}

a {
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  background-image: url(./image/mobile-background.svg);
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom-left-radius: 85px;
  margin-top: 70px;
  height: 82vh;
}

.bio {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 25px 0;
  padding: 0 15px;
}

.title {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  width: 75%;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  width: 65vw;
  padding-top: 15px;
}

.connect {
  display: inline-block;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  list-style-type: none;
  margin-left: 38px;
  height: 40px;
}

li {
  flex: 1;
  margin-left: -12px;
}
